body {
    margin: 0;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;


}

.logo-container {
    height: 100%;
    align-content: center;
    margin-left: 30px;
}

.logo {
    height: 65%;
}

.button-container {
    display: flex;
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.place-card-button {
    font-family: "Nunito", sans-serif;
    font-weight: 1000;
    font-size: 15px;

    width: 250px;
    height: 50px;

    border: 4px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

.place-card-button:hover {
    width: 280px;
    height: 60px;
    font-size: 17px;
    transition: 0.1s ease;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 25px;
}

.car-name-container {


}

#car-name {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 15px;
}

#car-name-button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 100px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

#car-name-button:hover {
    width: 110px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}

.car-model-container {
    display: none;
}

#car-model {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 15px;
}

#car-model-button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 100px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

#car-model-button:hover {
    width: 110px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}


.car-drive-container {
    display: none;
}

#car-drive {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 15px;
}

#car-drive-button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 100px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

#car-drive-button:hover {
    width: 110px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}


.car-transmission-container {
    display: none;
}

#car-transmission {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 15px;
}

#accept-button {
    display: none;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 405px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}


#accept-button:hover {
    width: 410px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}

.car-price-container {
    display: none;
}

#car-price {
    width: 300px;
    height: 25px;
    border: 2px solid black;
    border-radius: 15px;

    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding-left: 15px;
}

#car-price-button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 100px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

#car-price-button:hover {
    width: 110px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}

#car-send-button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 12px;

    width: 405px;
    height: 35px;

    border: 2px solid black;
    border-radius: 15px;
    background-color: #00bbff;
    color: white;

    transition: 0.2s ease;
}

#car-send-button:hover {
    width: 410px;
    height: 40px;
    font-size: 13px;
    transition: 0.1s ease;
}

.car-send-button-container {
    display: none;
}